@model WebMVC.Models.mvcTrackingPaperModel

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>mvcTrackingPaperModel</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Contents)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Contents)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Description)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Description)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TrackingTime)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TrackingTime)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ID_Student)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ID_Student)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ID_Subject)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ID_Subject)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.FileUpload)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FileUpload)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Back to List", "Index")
        </div>
    }
</div>
