@model IEnumerable<WebMVC.Models.mvcTrackingPaperModel>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Contents)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Description)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TrackingTime)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ID_Student)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ID_Subject)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FileUpload)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Contents)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Description)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.TrackingTime)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ID_Student)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ID_Subject)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.FileUpload)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.ID }) |
            @Html.ActionLink("Details", "Details", new { id=item.ID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.ID })
        </td>
    </tr>
}

</table>
