@model WebMVC.Models.mvcTeacherModel

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>mvcTeacherModel</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.FullName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FullName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.MSGV)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MSGV)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.NumberPhone)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NumberPhone)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Email)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Email)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DateofBirth)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DateofBirth)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Address)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Address)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DateBegin)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DateBegin)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ID_Roles)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ID_Roles)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ID_Faculity)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ID_Faculity)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ID_Subject)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ID_Subject)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.ID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
