@model IEnumerable<WebMVC.Models.mvcStudentModel>

@{
    ViewBag.Title = "Index";
}
@*<h2>Thông Tin Sinh Viên</h2>*@

<p>
    <a href="@Url.Action("Create","Students")" class="btn btn-outline-primary"><i class="fa fa-plus"></i> Tạo Mới</a>
</p>

<!-- DataTales Example -->
<div class="card shadow mb-4">
    <div class="card-header py-3">
        <h6 class="m-0 font-weight-bold text-primary">Thông Tin Sinh Viên </h6>
    </div>
    <div class="card-body">
        <div class="table-responsive">
            <table class="table table-bordered" id="datatab" width="100%" cellspacing="0">
                <thead>
                    <tr style="text-align:center ;font-size:medium">
                        <th>
                            @Html.DisplayName("Họ Tên")
                        </th>
                        <th>
                            @Html.DisplayName("MSSV")
                        </th>
                        <th>
                            @Html.DisplayName("Lớp")
                        </th>
                        <th>
                            @Html.DisplayName("Số điện thoại")
                        </th>                                         
                        <th>
                            @Html.DisplayName("Đề Tài")
                        </th>
                        <th></th>
                    </tr>
                </thead>              
                <tbody >
                    @foreach (var item in Model)
                    {
                        <tr style="text-align:left ;font-size:15px">
                            <td >
                                @Html.DisplayFor(modelItem => item.FullName)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.MSSV)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Class)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.NumberPhone)
                            </td>                                                      
                            <td>
                                @Html.DisplayFor(modelItem => item.ID_Subject)
                            </td>
                            <td>
                                <a href="@Url.Action("Edit","Students",new { id = item.ID })" class="btn btn-default"><i class="fas fa-edit" style="color: #ff0000"></i></a>|
                                <a href="@Url.Action("Details","Students",new { id = item.ID })" class="btn btn-default"><i class="fas fa-info-circle" style="color: #00ff21"></i></a>
                                @*<a onclick="Delete(@item.ID)" class="btn btn-default"><i class="fas fa-edit"></i></a>*@
                            </td>
                        </tr>  
                    }
                </tbody>
            </table>
        </div>
    </div>   
</div>
<link href="//cdn.datatables.net/1.10.21/css/jquery.dataTables.min.css" />

@section scripts{
    <script src="//cdn.datatables.net/1.10.21/js/jquery.dataTables.min.js"></script>
    <script>
        $(function () {
            alertify.set('notifier','position', 'top-right');
            var successMessage = '@TempData["SuccessMessage"]'
            if (successMessage != '')
                alertify.success(successMessage);
        })
        $(document).ready(function () {
            $("#datatab").DataTable();
        })
    </script>
    }